fastapi
uvicorn
motor
dnspython
pydantic
pydantic-settings
transformers
torch
websockets
python-multipart
python-jose[cryptography]
firebase-admin
pandas
numpy
scikit-learn
openai
python-dotenv
httpx
